h1 {font-weight: 50;
    font-size: 50px;
    color:black;
    flex-direction: column;
    text-align: center;
    background-color:#f9fcf766;
    font-family: sans-serif;
  letter-spacing: 5px;}

 body{ padding: 0 20px;margin: 0%;
 background-color: #e2bbb6; 
 }
 
nav{ width: 100%;height: 70px;background-color:white;margin-top: 15px;
  max-width: 800px;}

ul:hover{color:white;}

* {margin: auto; padding: 0px;}
  
ul{
list-style-type: none;
display: flex;
justify-content: center;
word-spacing: 10px;
}

ul li{ 
display: inline-block;
line-height: 70px;
}

ul li a{
   display: flex;
   text-decoration: none;
   text-align: center;
   font-size: 30px;
   font-family: sans-serif;
   columns: black;
   padding: 8px; color: black;
}

main{
  background:#f9fcf766 ;margin-top: 20px; border-radius: 20px;
  font-family:sans-serif ;
  padding: 5px 40px; font-size: larger;max-width: 800px;}  
  
p { margin: 6px;}

button{font-size: 24px;
  font-family:sans-serif; font-weight: 700; 
 transition: all; box-sizing: inherit; overflow: visible;border: 0; background-color:#f9fcf766;
  }