h1 {font-weight: 50;
    font-size: 50px;
    color:black;
    flex-direction: column;
    text-align: center;
    background-color:#f9fcf766;
    font-family:sans-serif;
    letter-spacing: 5px;
  margin-top: auto;
  }

 body{padding: 0 20px;
   margin: 0%;
 background-color: #e2bbb6; 
 }

 nav{ 
  width: 100%;height: 70px;background-color:white;margin-top: 15px;
  max-width: 800px;
  margin:auto}

  ul:hover{color:white;}

* {padding: 0px;}
  
ul{
list-style-type: none;
display: flex;
justify-content: center;
word-spacing: 10px;
}

ul li{ 
display: inline-block;
line-height: 70px;
}

ul li a{
   display: flex;
   text-decoration: none;
   text-align: center;
   font-size: 30px;
   font-family: sans-serif;
   columns: black;
   padding: 8px; color: black;
}

button{font-size: 24px;
  font-family:sans-serif;
  font-weight: 700; 
  transition: all; 
  box-sizing: inherit; 
  overflow: visible;
  border: 0; 
  background-color:#f9fcf766;
}

  main{
    background:#f9fcf766 ;
    margin-top: 20px; 
    border-radius: 10px;
    font-family:sans-serif; 
    height: 450px;
    font-size: medium;max-width: 800px; background-size:300px, 200px;
    margin: auto;
    text-indent: 15px;
    line-height: 20px;
   
  }  

p { margin: 6px; 

}

.badminton{border-right-width: 300px; height: 400px; margin: 3cm; margin-top: 2%;}

.Lau{width: 50%;}


.TE{ 
  padding-left: 750px;
  margin-top: -445px;
}

